/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0px;
  height: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
}


/* ---- typography ---- */

body {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
}

h2 {}

h3 {}

p {
  margin: 0;
}

a {
 color: white;
}


/* ---- layout ---- */

#root {
  display: flex;
  flex-direction: column;
  width:100%;
  background-color: white;
  min-height: 100vh;
  background-color: black;
  color:white;
  background-image: url('./background-space.jpg');
  background-attachment: fixed;

}
#site-header {
  display:flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  background:black;
}

#site-footer {
  display:flex;
  height:60px;
  width:100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background:black;
}

#site-main {
}

.container {
  margin: 0 20px;
}

.section {
  margin-bottom: 20px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 728px;
    margin: 0 auto;
  }
}




/* ---- components ---- */

.button {
  width: 100%;
  background-color: blue;
  color: #fff;
  border: 1px solid #fff
}

.button-alt {
  color: blue;
  background-color: #fff;
}

/* ---- section ---- */

nav {
  min-width: 500px;
  margin-left:5%;

}

nav ul{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}



li:first-child {
  max-width: 150px;
  margin: 0px;  
} 
li:nth-child(2) {
  
  margin-left: 30px;  
} 
img{
  width:140%;
}


.landing-page{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url(./landing-back.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  
}
.landing-page h1{
  max-width:600px;
line-height: 150%;
  font-size: 50px;
  margin-left:-650px;
  margin-top:150px;
  text-shadow: 1px 1px 1px black;
}

.pics-wrapper{
  padding-top: 15px;
  max-width:1140px;
  max-height:100vh;
  margin: auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50vh 50vh;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  grid-template-areas:
    "a b"
    "c d";

}
.a {
  
  background-image: url("./grid-1.jpg");
  background-size:cover;
}
.b{
  background-image: url("./grid-2.jpg");
  background-size:cover;

}

.c{
  grid-area:c;
  background-image: url("./grid-3.jpg");
  background-size:cover;

}
.d {
  grid-area:d;
  background-image: url("./grid-4.jpg");
  background-size:cover;

}

.launch-card {
  max-width:1040px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: white;
  margin: 20px;
  padding: 20px;
  color:black;
  border-radius: 10px;
  margin-left: auto;
  margin-right:auto;
  box-shadow: 1px -1px 5px red;

}
 .launches-title{
  text-align: center;
  font-size: 40px;

}



.launch-card img{
  width: 100%;
}


.card{
  max-height: 270px;
  display:grid;
  grid-template-columns: 10% 17% 45% 25%;
  grid-template-areas: "first second third fourth";
  grid-column-gap: 20px;
  overflow: hidden;

}
.second{
  align-self: flex-start;
}

.fourth{
  align-self: flex-start;
}
.card .mission-patch{
width:100%;

}
footer > ul{
  width:15%;
  display: flex;
  list-style-type: none;
}

.footerlinks img{
width:50%;
}
.footerlinks li:nth-child(1){
  margin-right:-20px;
}

/* .loadingTime {
  height:100vh;
  background-color:black;
  display:flex;
  flex-direction: column;
  justify-content: center;

} */

.loading-wrapper{
  width:100%;
  height:100vh;
  background-color: black;

}

.loading-cont{

  max-width: 300px;
  margin:auto;
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading-cont p{
  margin-bottom: 20px;
}
/* 
.loading-wrapper article{
  background-color:red;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin:auto;
  max-width:400px;
  max-height: 100vh;
text-align: center;
margin-top:30vh;
}
.loading-wrapper p{
  font-size: 40px;
} */



/* .loading-title{
  position:relative;
margin-left:400px;
margin-top:400px;
} */

.ships-container {
  background-color:black;
  min-height:110vh;
  width:100%;
  display:flex;
  flex-direction: column;
align-items: center;
padding-bottom: 20px;
}

.ships-container img{
  width:90%;

}

.ships-container .ships-name{
  display: flex;
  flex-direction:row;
  min-width:525px;
    justify-content: space-between;
    margin-left:-35px;
}

.ships-name h2:nth-child(2){
  margin-left:-25px;}

.ships-name h2:nth-child(3){
  margin-left:-25px;
}

.ship-section-title{
  padding-top: 25px;
  font-size:55px;
  text-shadow: 1px 1px orange;

  -webkit-animation: pulsate-fwd 2s ease-in-out 1s infinite both;
  animation: pulsate-fwd 2s ease-in-out 1s infinite both;
}

@-webkit-keyframes pulsate-fwd {
0% {
 -webkit-transform: scale(1);
         transform: scale(1);
}
50% {
 -webkit-transform: scale(1.1);
         transform: scale(1.1);
}
100% {
 -webkit-transform: scale(1);
         transform: scale(1);
}
}
@keyframes pulsate-fwd {
0% {
 -webkit-transform: scale(1);
         transform: scale(1);
}
50% {
 -webkit-transform: scale(1.1);
         transform: scale(1.1);
}
100% {
 -webkit-transform: scale(1);
         transform: scale(1);
}
}
.classe {
-webkit-animation: pulsate-fwd 3s ease-in-out 1s infinite both;
 animation: pulsate-fwd 3s ease-in-out 1s infinite both;
}@-webkit-keyframes pulsate-fwd {
0% {
-webkit-transform: scale(1);
        transform: scale(1);
}
50% {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
}
100% {
-webkit-transform: scale(1);
        transform: scale(1);
}
}
@keyframes pulsate-fwd {
0% {
-webkit-transform: scale(1);
        transform: scale(1);
}
50% {
-webkit-transform: scale(1.1);
        transform: scale(1.1);
}
100% {
-webkit-transform: scale(1);
        transform: scale(1);
}
}
